/* Modal Style */
.modal-container .ant-modal-content {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .modal-container .ant-modal-header {
    background-color: #1267e6;
    /* border-bottom: 2px solid #d9d9d9; */
  }
  
  .modal-container .ant-modal-title {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
  }
  
  .modal-container .ant-modal-close-x {
    color: #999;
  }
  
  .modal-container .ant-modal-body {
    padding: 24px;
  }
  
  .modal-container .ant-input,
  .modal-container .ant-select {
    border-radius: 0px;
    /* padding: 8px 12px; */
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal-container .ant-input:focus,
  .modal-container .ant-select-focused {
    border-color: #40a9ff;
    box-shadow: 0 0 5px rgba(64, 169, 255, 0.5);
  }
  
  .modal-container .ant-btn {
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: 600;
  }
  
  .modal-container .ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
  }
  
  .modal-container .ant-btn-primary:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
  }
  
  .modal-container .ant-btn-default {
    background-color: #f5f5f5;
    border-color: #d9d9d9;
  }
  
  .modal-container .ant-btn-default:hover {
    background-color: #e6e6e6;
  }
  

  /* Profile Picture Container */
.profile-picture-container {
  margin-bottom: 20px;
  text-align: center;
}

/* Label for the file input */
.profile-picture-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

/* File input styles */
.profile-picture-input {
  display: block;
  margin: 0 auto 10px auto;
  padding: 10px;
  font-size: 14px;
  color: #555;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.profile-picture-input:hover {
  background-color: #f1f1f1;
  border-color: #ccc;
}

/* Preview container */
.profile-picture-preview {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Image styles */
.profile-picture-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
}

/* Caption under the preview */
.profile-picture-caption {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}
